#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        del {
            bindings = <&kp DEL>;
            key-positions = <2 49>;
        };

        aa {
            bindings = <&kp A>;
            key-positions = <36 38 39 46 33>;
        };
    };

    macros {
        mul_mark: mul_mark {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_2 &kp KP_NUMBER_1 &kp KP_NUMBER_5>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MUL_MARK";
        };

        div_mark: div_mark {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_2 &kp KP_NUMBER_4 &kp KP_NUMBER_7>,
                <&macro_release>;

            label = "DIV_MARK";
        };

        mko0: mko0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp K &kp O &kp NUMBER_0 &kp B &kp H &kp U &kp NUMBER_8 &kp LS(C) &kp LS(F) &kp LS(T) &kp AMPERSAND>;
            label = "MKO0";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC  &kp TAB  &kp LSHFT  &kp LCTRL  &kp A  &kp Z  &kp LGUI  &kp W  &kp X  &kp LALT  &kp E  &kp D  &kp R  &kp F  &kp V  &lt 4 LANG2  &kp G  &kp B  &lt 2 SPACE  &kp N8  &kp Q  &kp S  &kp C  &kp T  &lt 3 LANG1  &lt 6 DELETE  &kp MINUS  &kp QMARK  &kp RIGHT  &kp SEMICOLON  &kp UP  &kp DOWN  &kp O  &kp DOT  &kp LEFT  &kp I  &kp K  &kp U  &kp J  &kp M  &kp N4  &kp H  &kp N  &lt 1 ENTER  &kp UNDERSCORE  &kp P  &kp L  &kp COMMA  &kp Y  &kp BACKSPACE
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &kp LEFT_SHIFT  &trans  &kp ASTERISK  &kp AT_SIGN  &trans  &kp SINGLE_QUOTE  &kp EXCLAMATION  &trans  &kp LEFT_PARENTHESIS  &kp PERCENT  &kp RIGHT_PARENTHESIS  &kp AMPERSAND  &kp POUND  &trans  &trans  &trans  &trans  &mko0  &trans  &kp DOLLAR  &kp DOUBLE_QUOTES  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp RIGHT_BRACKET  &trans  &kp LEFT_BRACKET  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &kp LEFT_SHIFT  &trans  &trans  &kp NUMBER_0  &trans  &kp NUMBER_7  &kp NUMBER_1  &trans  &kp N8  &kp NUMBER_5  &kp NUMBER_9  &kp NUMBER_6  &kp NUMBER_3  &trans  &kp MINUS  &kp EQUAL  &trans  &trans  &trans  &kp NUMBER_4  &kp NUMBER_2  &kp PLUS  &trans  &trans  &trans  &trans  &trans  &kp F11  &kp F10  &trans  &kp F9  &kp F3  &trans  &kp F8  &kp F5  &kp F7  &kp F4  &kp F1  &trans  &div_mark  &trans  &trans  &trans  &kp F12  &kp F6  &kp F2  &mul_mark  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &kp HOME  &trans  &trans  &kp PAGE_UP  &trans  &trans  &kp UP_ARROW  &kp DOWN_ARROW  &kp PAGE_DOWN  &kp RIGHT_ARROW  &trans  &trans  &kp END  &trans  &trans  &trans  &trans  &kp LEFT_ARROW  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LG(UP_ARROW)  &kp LG(DOWN_ARROW)  &trans  &kp LG(LEFT_ARROW)  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LG(RIGHT_ARROW)  &trans  &trans  &kp DELETE
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_SEL 3  &trans  &trans  &bt BT_SEL 2  &trans  &bt BT_SEL 1  &trans  &bt BT_CLR_ALL  &trans  &trans  &bt BT_CLR  &trans  &trans  &bt BT_SEL 4  &trans  &trans  &bt BT_SEL 0  &trans
            >;
        };

        mouse {
            bindings = <
&to 0  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MB5  &trans  &trans  &mkp MB3  &trans  &mkp MB1  &mkp MB4  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MB2  &trans  &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&kp B  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
